@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em "Nunito", "Maven Pro", Oxygen, Roboto, sans-serif !important;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f0045;
  font-family: "Nunito", "Maven Pro", Oxygen, Roboto, sans-serif !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: "Nunito", "Maven Pro", Oxygen, Roboto, -apple-system,
    BlinkMacSystemFont, Segoe UI, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
