@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito&display=swap");

body {
  margin: 0;
  font-family: "Nunito", "Maven Pro", "Oxygen", "Roboto", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

main {
  margin: 0 auto;
  max-width: 100%;
  height: calc(100vh - 64px);
  background-color: #fbfbfb;
  font-family: "Nunito", "Maven Pro", "Oxygen", "Roboto", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden !important;
}

main > div.uk-container {
  background-color: #fbfbfb;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
button.uk-button,
input.uk-input,
select.uk-select {
  border-radius: 5px;
  text-transform: none;
}

button.uk-button.uk-button-primary {
  background-color: #ff4a4a;
  border-color: #ff4a4a;
  color: #fff;
}

button.uk-button.uk-button-primary:hover {
  background-color: #ff7070;
  border-color: #ff7070;
}

@media screen and (max-width: 768px) {
  div.App {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
