@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito&display=swap");

body {
  margin: 0;
  font-family: "Nunito", "Maven Pro", "Oxygen", "Roboto" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
